p.first {
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   background-color: #00FF00;
   border: 2px solid black;
}

p.second {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   background-color: #0000FF;
   border: 2px solid black;
}
